
<div class="artist overview" id="artist">
    <h1 class="page-header">{{artist}}</h1>
</div>

{{#each albums}}
<div class="well well-sm row album-row">
    <div class="col-md-3">
        <h3>{{album}}</h3>
        <img src="http://cdn.last.fm/flatness/catalogue/noimage/2/default_album_large.png">
    </div>
    <div class="col-md-9">
        {{#each songs}}
        <div class="row song" id="song-{{id}}">
            <div class="actions pull-right">
                <div class="btn-group">
                    <a href="#!/play/{{id}}" class="btn btn-info btn-xs" role="button" data-action="play">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                    <a href="#!/queue/{{id}}" class="btn btn-info btn-xs" role="button" data-action="queue">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <a href="#!/love/{{id}}" class="btn btn-info btn-xs" role="button" data-action="favourite">
                        <span class="glyphicon glyphicon-heart"></span>
                    </a>
                    <a href="#!/add/{{id}}" class="btn btn-info btn-xs" role="button" data-action="add">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <a href="#!/edit/{{id}}" class="btn btn-info btn-xs" role="button" data-action="edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
            <div class="inner pull-left">
                <div class="title">
                    <a data-artist="{{artist}}" data-title="{{title}}" id="title-{{artist_seo}}-{{title_seo}}" href="#!/search/artist={{artist}}&title={{title}}">{{title}}</a>
                    <small>{{time}}</small>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}

